.container1 {
      max-width: 1366px;
      margin:0 auto 30px;
      padding: 0 5% 2%;
      background-color: #fff;
      border-radius: 10px;
      scroll-behavior: smooth;
      min-height: 450px;
    }


input{
  border:2px solid rgb(75, 73, 207);
  padding: 10px;
  border-radius: 5px;
 
}

.input{
  display: flex;
}
input:hover{
  background-color: #c8d6eb;
}

.image1{
      margin-top: 8px;
      height:53px;
      /* Extra */
      width: 25%;
}

@media (min-width:1200px) {
  .box{
    width:1110px;
  }
}

@media (min-width:1250px){
 .box{
  width:1160px;
 }
}

@media (min-width:1350px) and (max-width:1700px){
  .box{
    width:1230px;
  }
}

@media (min-width:1700px) and (max-width:2000px){
  .box{
    width:1236px;
  }
}

.image2{
    height:105px;
    /* Extra */
    width: 80%;
}

       
.logo1 {
      display: flex;
      align-items: center;
      font-size: 25px;
      font-weight:calc(650);
      color: #000000;
}
      
.dot2 {
      height:17px;
      width: 17px;
      border-radius: 50%;
      background-color: #000000;
      margin-top: 5px;
      margin-right: -5px;
}

.dot {
      height:17px;
      width: 17px;
      border-radius: 50%;
      background-color: #000000;
      margin-top: 5px;
      margin-left: -0.5px;
}



.dot1{
      height:18px;
      display:flex;
      margin-left: 10px;
      align-items: end;
}
    
    
    h1 {
      font-size: 37px;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
    }

    @media(max-width:900px){
      h1{
        font-size: 35px;
        margin-bottom: 7px;
        margin-top: 3px;
        font-weight: bold;
        text-align: center;
      }
    }
    
    .subtitle {
      font-size: 16px;
      color: #070707;
      margin-bottom: 20px;
      margin-bottom: 5%;
    }

    .subtitledisable{
      font-size: 16px;
      color: rgb(107 114 128);
      margin-bottom: 20px;
      margin-bottom: 5%;
    }

    .title{
      font-size:24px;
    }

    .titledisable{
      font-size:24px;
      color:rgb(107 114 128);
    }
    
    .buttons-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center; 
      gap: 10%; 
      align-items: center; 
      justify-items: center; 
      margin-bottom: 10%;
    }

    .buttons-grid1 {
        margin-top: 5%;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
      }
    .buttons-grid2 {
      margin-top: 5%;
      display: flex;
      justify-content: center;
    }

    .buttons-grid3 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center; 
      gap: 10%; 
      align-items: center; 
      justify-items: center; 
    }
    

    .buttons-grid4 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center; 
      gap: 10%; 
      align-items: center; 
      justify-items: center; 
    }

    .buttons-grid5{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center; 
      gap: 10%; 
      align-items: center; 
      justify-items: center; 
    }
    
    
    
    .campaign-button {
      background-color: white;
      border: none;
      padding: 10px 5px;
      width: 145px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 10px;
      border:1.5px solid rgb(75, 73, 207);
      color:#337ab7;
      font-weight: 500;
      margin-bottom:5%;
    }

    .campaign-button-disable {
      background-color: rgb(107 114 128);
      border: none;
      padding: 10px 5px;
      width: 145px;
      font-size: 16px;
      border-radius: 10px;
      border:1.5px solid rgb(107 114 128);
      color:rgb(214, 214, 214);
      font-weight: 500;
      margin-bottom:5%;
    }
    
    .campaign-button:hover {
      background-color: rgb(38, 79, 160);
      color: #fff;
    }
    
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 5px 0;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
}
    
    /* Responsive design */
    
    @media (max-width: 600px) {
     .container {
        padding: 10px;
      }
     .buttons-grid {
        grid-template-columns: repeat(1, 1fr);
      }
     .campaign-button,.campaign-button-disable {
        padding: 10px;
      }
    }
    
    @media (max-width: 400px) {
     .container {
        padding: 5px;
      }
     .campaign-button {
        font-size: 14px;
      }
      h1 {
            font-size: 26px;
            margin-bottom: 10px;
            font-weight: 600;
      }
    }

    @media (max-width: 550px){
      h1 {
            font-size: 30px;
            margin-bottom: 10px;
            font-weight: 700;
      }
      .subtitle {
            font-size: 12px;
            color: #070707;
            margin-bottom: 20px;
            margin-bottom: 5%;
          }
          .title{
            font-size:20px;
          }
          .titledisable{
            font-size:20px;
            color:rgb(107 114 128);
          }
    }

    @media (max-width:524px){
      .input{
        justify-content: center;
      }
    }

  
    .buttons{
      width: 170px;
      display: flex;
        justify-content: center;
    }

    @media(max-width:1156px){
      .buttons{
        width:140px;
        display: flex;
        justify-content: center;
      }
    }

    @media(max-width:1000px){
      .buttons{
        width:120px;
        display: flex;
        justify-content: center;
      }
    }

    @media(max-width:900px){
      .buttons{
        width: 110px;
        display: flex;
        justify-content: center;
      }
    }

    @media(max-width:850px){
      .buttons{
        width: 100px;
        display: flex;
        justify-content: center;
      }
    }

.parawidth{
  width:100%;
}

@media (min-width:768px) {
  .parawidth{
    width:75%;
  }
}


